<%= form_with(model: @mArticle, local: true) do | f | %>
  <p>
    <%= f.label "Title (6-100 chars)" %><br/>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label "Description (6-300 chars)" %><br/>
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label "Body (10-1500 chars)" %><br/>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
