<h1 class="text-center mt-4"><%= @mUser.username %>'s profile</h1>

<%= gravatar_for @mUser, size: 200 %>

<div class="text-center mt-4">
  <%= link_to "Edit your profile", edit_user_path(@mUser), class: "btn btn-outline-info" %>
</div>

<h3 class="text-center mt-4">Articles</h3>

<div class="flickr-pagination">
  <%= will_paginate @mArticles, :container => false %>
</div>

<%= render 'articles/article' %>

<div class="flickr-pagination mb-4">
  <%= will_paginate @mArticles, :container => false %>
</div>
